<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin_Dean</title>
    <link rel="stylesheet" href="/css/hod.css" />
  </head>
  <body>
    <header>
      <div class="info-header">
          K.K. Wagh Institute of Engineering Education & Research (Autonomous) <a href="/login" title="Logout"><span>{{ui}}</span></a><span><form method="post" action="/statistics"><button type="submit"></button></form></span><span id="sp"><form method="post" action="/crudop"><button type="submit"></button></form></span>
          <br>
          <p>Hirabai Haridas Vidyanagri, Amrutdham, Panchavati, Nashik</p>
      </div>
  </header>
  <div class="content">
      <div class="student-details">
        <div class="caption1">
          <h2>&#160;Personal Details&#160;</h2>
        </div>
        <p>Name:<span> {{deanData.name}}</span></p>
        <p>ACADEMIC DEAN</p>
        <p>Mobile No.: <span>{{deanData.mobile}}</span></p>
        <p>CRN: <span>{{deanData.crn}}</span></p>
      </div>
      <br />
      <div class="application_recieved">
        <h2>&#160; Applications Recieved &#160;</h2>
      </div>
      <div class="all_notification">
        {{#each deanRequests}}
        <form action="/approve/{{this.srno}}" method="post" >
          <div class="notification">
            
              <p class="name">Application Received by - <span>{{this.studcrn}}</span></p>
              <p class="date">{{this.createdAt}}</p>
              <p class="status">Waiting for your approval</p>
              <button class="view-button">VIEW</button>
            </div>
          </form>
          {{/each}}
      </div>
      
    </div>
</body>
</html>
